<%= form_with model: @photo do |form| %>

        <div>
            <%= form.label "This should be a good picture of you that you like; tell us one thing about it: " %>
            <%= form.text_field :good_path %>
            <%= form.file_field :image_good_path %>
        </div>

        <div>
            <%= form.label "This should be just an ordinary, everyday picture of yourself; tell us one thing about it: " %>
            <%= form.text_field :ordinary_path %>
            <%= form.file_field :image_good_path %>
        </div>
    
        <div>
            <%= form.label "This is one of the worst photos in existance of you; tell us one thing about it: " %>
            <%= form.text_field :bad_path %>
            <%= form.file_field :image_bad_path %>
        </div>

    <div>
        <%= form.hidden_field :user_id %>
    </div>

<div>
    <%= form.submit %>
</div>
<% end %>
 
